@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.767);
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 50px;
    background: #a3aff1;
    border: 1px dotted #000;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.815);
}